

.Main {
  text-align: center;
  background-color: #12ffc4;
  margin-left: 0;
  margin-left: 0;
  color: white;

}


.Firstbody{
  margin: auto;
  display: flex;
  justify-content:left;
  justify-items: auto;
}


.Secondbody{
  margin:auto;
  display: flex;
  justify-content:right;
  justify-items: auto;
}


button {
    width: 15%;
    background-color: transparent;
    padding: 1%;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    margin-top: 5px;
    margin: auto;
    
}

button:hover {
  background-color: #FFFEF1;
  color: #2C5E2E;
}


h1 {
  text-align: center;
  text-decoration:dotted;
}

table{
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 40%;
  margin-top: 5%;
}

