html {
  font-size: 1rem; 
  background-color: rgb(234, 218, 218);
  
}
.Main-header{
  background-color: rgb(234, 218, 218);
}



#submit{
  margin-top: 10px;
}

.d-flex{
  background-color: rgb(234, 218, 218);
  border-top: 20px solid rgb(234, 218, 218);
  
}

h1 {
  text-align: center;
}




input{
  text-align: center;
}

.text-center{
  margin-top: 25px;
}
button{
  margin: auto;
}